useDynLib(bayesGT, .registration = TRUE)

#settings
export(create_settings)

#estimator
export(infer_posterior)
export(run_replicates)

#results
export(print_results)
export(save_results)
export(diag_traceplot)
export(diag_histogram)
export(diag_beta_grid)

# imports
importFrom(stats, rnorm, runif, rbeta, rbinom, sd, quantile, dnorm)
importFrom(graphics, par, abline, curve, hist)
importFrom(utils, write.table, modifyList)
