useDynLib(bayesGT, sample, .registration = FALSE)

#bayes_sampler
export(bayes_sampler)

#estimator
export(infer_posterior)
export(run_replicates)
export(compute_results)

#results
export(print_results)
export(print_settings)
export(save_results)
export(plot_trace)
export(plot_post_hist)

#mh_wlhs
#export(wls.mh.alg)
#export(mt.ct)

